* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-left: 40px;
  background-image: linear-gradient(to left, #fff 98%, #768EF2 2%);
}


