.campoTexto {
  height: 40px;
  text-align: center;
  background-color: #90AFC1;
  border: none;
  margin-bottom: 15px;
  margin-left: 10px;
  border-radius: 10px;
}

.campoTexto::placeholder, .campoBuscar::placeholder, .campoPesquisar::placeholder {
  color: #000;
  font-weight: 500;
}

/* tamanho dos campos */
.codigo, .ano, .mes {
  width: 80px;
}

.cidade {
  width: 500px;
  text-align: left;
  text-indent: 10px;
}

.icone-de-pesquisa {
  position: absolute;
  margin-left: 10px;
}

.campoBuscar {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 25px;
  background-color: #90AFC1;
}

.divPesquisar {
  display: block;
  text-align: right;
  width: 1200px;
}

.campoPesquisar {
  width: 180px;
  height: 40px;
  text-align: left;
  background-color: #90AFC1;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 40px;
}

.divPesquisar > .icone-de-pesquisa {
  margin-top: 8px;
}

