.tabelaInfo {
  width: 1180px;
  height: 250px;
  font-size: 1.2em;
  border-radius: 15px;
  margin-left: 20px;
  padding: 20px;
}

.tabela {
  width: 1100px;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #000;
}

.sublinhado {
  border-bottom: 2px solid #00f;
}
